@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }

    body {
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        .board-container {
            width: calc(min(80vw, 80vh));
            height: calc(min(80vw, 80vh));
            border: 16px solid brown;
            border-spacing: 0;
            .row {
                width: 100%;
                .col {
                    background-color: blanchedalmond;
                    width: 12.5%;
                    height: 12.5%;
                    &:nth-of-type(2n) {
                        background-color: chocolate;
                        transition: all 0.3s ease-in;
                    }
                    &:hover {
                        background-color: darkviolet;
                    }
                }
                // Styling the even rows differntly from the odd rows
                &:nth-of-type(2n) {
                    .col {
                        background-color: chocolate;
                        &:nth-of-type(2n) {
                            background-color: blanchedalmond;
                            transition: all 0.3s ease;
                        }
                        &:hover {
                            background-color: darkviolet;
                        }
                    }
                }
            }
        }
    }
}
