@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Color pellete:
$board-bg-color: brown;
$cell-first-color: chocolate;
$cell-second-color: blanchedalmond;
$cell-hover-color: rgb(130, 106, 247);

// Sizes:
$board-size: calc(min(80vw, 80vh));
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    .board-container {
        width: $board-size;
        height: $board-size;
        border: calc(0.08 * #{$board-size}) solid $board-bg-color;
        background-color: $board-bg-color;
        border-spacing: 0;
        .row {
            width: 100%;
            .tile {
                background-color: $cell-second-color;
                width: 12.5%;
                height: 12.5%;
                transition: all 0.1s ease-in-out;
                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
                &:nth-of-type(2n) {
                    background-color: $cell-first-color;
                    &.selectedTile {
                        background-color: $cell-hover-color;
                    }
                }
                &:hover {
                    box-shadow: 0px 0px 0px 10px $cell-hover-color inset;
                }
                &.selectedTile {
                    background-color: $cell-hover-color;
                }
            }
            // Styling the even rows differntly from the odd rows
            &:nth-of-type(2n) {
                .tile {
                    background-color: $cell-first-color;
                    transition: all 0.1s ease-in-out;
                    &:nth-of-type(2n) {
                        background-color: $cell-second-color;
                        &.selectedTile {
                            background-color: $cell-hover-color;
                        }
                    }
                    &:hover {
                        box-shadow: 0px 0px 0px 10px $cell-hover-color inset;
                    }
                    &.selectedTile {
                        background-color: $cell-hover-color;
                    }
                }
            }
        }
    }
}
