@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Color pellete:
$board-bg-color: brown;
$cell-first-color: chocolate;
$cell-second-color: blanchedalmond;
$cell-hover-color: rgb(156, 64, 241);
$possible-move-color: mediumslateblue;
$threatend-color: crimson;

// Sizes:
$board-size: calc(min(80vw, 80vh));
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    .message-box {
        height: 10%;
    }
    .board-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        flex-wrap: wrap;
        width: $board-size;
        height: $board-size;
        border: calc(0.08 * #{$board-size}) outset $board-bg-color;
        border-radius: 2%;
        background-color: $board-bg-color;
        border-spacing: 0;
        tr {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 12.5%;
            // TODO: Refactor styling of td's to remove redundant code. Style alternate td's with JS instead.
            td {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $cell-second-color;
                width: 12.5%;
                height: 100%;
                transition: all 0.2s ease-in-out;
                img {
                    cursor: pointer;
                    width: 90%;
                    transition: all 0.1s ease-in-out;
                    &:hover {
                        width: 100%;
                    }
                }
                &:nth-of-type(2n) {
                    background-color: $cell-first-color;
                    &.selected-tile {
                        background-color: $cell-hover-color;
                    }
                    &.possible-move {
                        box-shadow: 0px 10px 10px -10px #000000,
                            inset 0px 0px 50px 0px $possible-move-color;
                    }
                    &.threatend {
                        box-shadow: 0px 10px 10px -10px #000000,
                            inset 0px 0px 50px 0px $threatend-color;
                    }
                }
                &.selected-tile {
                    background-color: $cell-hover-color;
                }
                &.possible-move {
                    box-shadow: 0px 10px 10px -10px #000000,
                        inset 0px 0px 50px 0px $possible-move-color;
                }
                &.threatend {
                    box-shadow: 0px 10px 10px -10px #000000, inset 0px 0px 50px 0px $threatend-color;
                }
            }
            // Styling the even rows differntly from the odd rows
            &:nth-of-type(2n) {
                td {
                    background-color: $cell-first-color;
                    transition: all 0.2s ease-in-out;
                    &:nth-of-type(2n) {
                        background-color: $cell-second-color;
                        &.selected-tile {
                            background-color: $cell-hover-color;
                        }
                        &.possible-move {
                            box-shadow: 0px 10px 10px -10px #000000,
                                inset 0px 0px 50px 0px $possible-move-color;
                        }
                        &.threatend {
                            box-shadow: 0px 10px 10px -10px #000000,
                                inset 0px 0px 50px 0px $threatend-color;
                        }
                    }
                    img {
                        cursor: pointer;
                        width: 90%;
                        transition: all 0.1s ease-in-out;
                        &:hover {
                            width: 100%;
                        }
                    }
                    &.selected-tile {
                        background-color: $cell-hover-color;
                    }
                    &.possible-move {
                        box-shadow: 0px 10px 10px -10px #000000,
                            inset 0px 0px 50px 0px $possible-move-color;
                    }
                    &.threatend {
                        box-shadow: 0px 10px 10px -10px #000000,
                            inset 0px 0px 50px 0px $threatend-color;
                    }
                }
            }
        }
    }
}
